<div class="cover-show">
  <div class="container">
    <div class="row justify-content-center">
      <h3 >旅行投稿詳細</h3>
    </div>
    <div class="row justify-content-center d-block">
      <p>ユーザ名</p>
      <%= attachment_image_tag @post, :image, format: 'jpeg', size: '420x280' %>
      <p></p>
      <p><%= @post.location %></p>
      <h4>感想</h4>
      <p><%= @post.text %></p>
      <div class="buttons">
        <%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-primary" %>
        <%= button_to '削除する', post_path(@post.id), { method: :delete, form: { data: { turbo_confirm: "本当に削除しますか？" } }, class: "btn btn-danger" } %>
        <%= link_to '投稿一覧ページへ', posts_path, class: "btn btn-dark" %>
      </div>
    </div>
  </div>
</div>